
.picture-frame {
    position: relative;
}

.div-browse {
    position: absolute;
    cursor: pointer;
    bottom: 10px;
    right: 10px;
    opacity: 0.7;
    font-size: xx-large;
}

/* Progress Style */
.loader {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #3498db;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 1.5s linear infinite; /* Safari */
    animation: spin 1.5s linear infinite;
}

/* File upload style */
label.file-upload {
    position: relative;
    overflow: hidden;
    width: 100%;
}

    label.file-upload input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: 0;
        background: #fff;
        cursor: inherit;
        display: block;
    }

.file-upload-text {
    display: block;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
