.yearsettting-container {

}

.yearsettting-container .yearsettting-dropdown {
    width: 100%;
}

.yearsettting-container .col-row-space {
    margin-bottom: 10px;
}

.yearsettting-container table td {
    text-align: center;
}

@media (max-width: 999px) {

    .yearsettting-container {
        font-size: 20px;
    }

    .yearsettting-container .yearsettting-dropdown {
        width: 283px;
    }

    .yearsettting-container input[type=text], .yearsettting-container select {
        width: 283px;
        height: 42px;
    }

    .yearsettting-container .date-container input[type=text] {
        float: left;
        width: 250px;
        height: 42px;
    }

    .yearsettting-container .date-container input[type=text] + span {
        float: left;
        width: 35px;
        height: 42px;
        margin-left: -2px;
        margin-top: 1px;
    }

    .yearsettting-container .date-container input[type=text] + span .glyphicon {
         top: 7px;
    }

    .yearsettting-container .global-btn {
        font-size: 20px;
        width: 150px;
    }
}

@media (min-width:1000px) and (max-width: 1199px) {
    
    .yearsettting-container {
        font-size: 22px;
    }

    .yearsettting-container .yearsettting-dropdown {
        width: 173px;
    }

    .yearsettting-container input[type=text], .yearsettting-container select {
        width: 173px;
        height: 42px;
    }

    .yearsettting-container .date-container input[type=text] {
        float: left;
        width: 140px;
        height: 42px;
    }

    .yearsettting-container .date-container input[type=text] + span {
        float: left;
        width: 35px;
        height: 42px;
        margin-left: -2px;
        margin-top: 1px;
    }

    .yearsettting-container .date-container input[type=text] + span .glyphicon {
         top: 7px;
    }

    .yearsettting-container .global-btn {
        font-size: 22px;
        width: 150px;
    }
}

@media (min-width:1200px) {
    
    .yearsettting-container {
        font-size: 26px;
    }

    .yearsettting-container .yearsettting-dropdown {
        width: 263px;
    }

    .yearsettting-container input[type=text], .yearsettting-container select {
        width: 263px;
        height: 42px;
    }

    .yearsettting-container .date-container input[type=text] {
        float: left;
        width: 230px;
        height: 42px;
    }

    .yearsettting-container .date-container input[type=text] + span {
        float: left;
        width: 35px;
        height: 42px;
        margin-left: -2px;
        margin-top: 1px;
    }

    .yearsettting-container .date-container input[type=text] + span .glyphicon {
         top: 7px;
    }

    .yearsettting-container .global-btn {
        font-size: 26px;
        width: 150px;
    }
    
}

