<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
	<connectionStrings>
		<add name="peakDB" connectionString="Server=114.119.180.115; Initial Catalog=PeakengineSingleDB;Persist Security Info=False;User ID=rdsuser;Password=8CeWYMkqH8buARFL;MultipleActiveResultSets=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
		<add name="MasterDBConnection" connectionString="Server=114.119.180.115; Initial Catalog=JabjaiMasterSingleDB;Persist Security Info=False;User ID=rdsuser;Password=8CeWYMkqH8buARFL;MultipleActiveResultSets=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
			<!--server grade memroy-->
		<add name="PGGradeDBEntities" connectionString="metadata=res://*/PGGradeDB.csdl|res://*/PGGradeDB.ssdl|res://*/PGGradeDB.msl;provider=Npgsql;provider connection string=&quot;Host=110.238.104.19;Port=5432;Database=PGGradeDB;Username=postgres;Password=Jabjai@2023;Persist Security Info=True&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>