<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
	<connectionStrings>
		<add name="peakDB" connectionString="Server=192.168.0.60,9499; Initial Catalog=PeakengineSingleDB;Persist Security Info=False;User ID=rdsuser;Password=RRufPZvg6CcM6wbv;MultipleActiveResultSets=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
		<add name="MasterDBConnection" connectionString="Server=192.168.0.60,9499; Initial Catalog=JabjaiMasterSingleDB;Persist Security Info=False;User ID=rdsuser;Password=RRufPZvg6CcM6wbv;MultipleActiveResultSets=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
		<add name="SQLLiteDBContainer" connectionString="metadata=res://*/SQLLiteDB.csdl|res://*/SQLLiteDB.ssdl|res://*/SQLLiteDB.msl;provider=System.Data.SQLite.EF6;provider connection string=&quot;data source=E:\SQLiteDatabaseFinalCopy\GradeDB.db;version=3&quot;" providerName="System.Data.EntityClient" />
		<!--server grade memroy-->
		<add name="PGGradeDBEntities" connectionString="metadata=res://*/PGGradeDB.csdl|res://*/PGGradeDB.ssdl|res://*/PGGradeDB.msl;provider=Npgsql;provider connection string=&quot;Host=110.238.104.19;Port=5432;Database=PGGradeDB;Username=postgres;Password=Jabjai@2023;Persist Security Info=True&quot;" providerName="System.Data.EntityClient" />
		<add name="TemplateBuilder" connectionString="data source=192.168.0.60,9499;initial catalog=TemplateBuilder;persist security info=True;user id=rdsuser;password=RRufPZvg6CcM6wbv;encrypt=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="JabjaiSchoolLogsContainer" connectionString="metadata=res://*/JabjaiSchoolLogs.csdl|res://*/JabjaiSchoolLogs.ssdl|res://*/JabjaiSchoolLogs.msl;provider=Npgsql;provider connection string=&quot;Host=94.74.118.122;Database=JabjaiSchoolLogs;Username=root;Password=RRufPZvg6CcM6wbv;Persist Security Info=True;Port=5432&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="JabjaiSchoolLogsContainer" connectionString="metadata=res://*/JabjaiSchoolLogs.csdl|res://*/JabjaiSchoolLogs.ssdl|res://*/JabjaiSchoolLogs.msl;provider=Npgsql;provider connection string=&quot;Host=94.74.80.53;Database=JabjaiSchoolLogs;Username=root;Password=RRufPZvg6CcM6wbv;Persist Security Info=True;Port=9499&quot;" providerName="System.Data.EntityClient" />-->

  </connectionStrings>