<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://jabjaidemo.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>jabjaidemo.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>jabjaidemo</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$jabjaidemo</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="JabJaiEntities" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="JabjaiEntity.DB.JabJaiEntities, JabjaiEntity" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="JabJaiMasterEntities" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MasterEntity.JabJaiMasterEntities, MasterEntity" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="FingerPaymentConnectionString" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=jabjaidatabase.database.windows.net;Initial Catalog=JabJaiMaster;Persist Security Info=True;User ID=sajabjai;Password=passJabJai@2016;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\FingerPaymentConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Data.Master.MasterDB.csdl|res://*/Data.Master.MasterDB.ssdl|res://*/Data.Master.MasterDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=jabjaidatabase.database.windows.net;initial catalog=JabJaiMaster;persist security info=True;user id=sajabjai;password=passJabJai@2016;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="FingerPaymentEntities2" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=INTEL-PC;Initial Catalog=JabJai2;Persist Security Info=True;User ID=sa;Password=1234;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\FingerPaymentEntities2_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Data.DBS.csdl|res://*/Data.DBS.ssdl|res://*/Data.DBS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=INTEL-PC;initial catalog=JabJai2;persist security info=True;user id=sa;password=1234;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="FingerPaymentEntities" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=jabjaidatabase.database.windows.net;Initial Catalog=JabJai;User ID=sajabjai;Password=passjabjai@2016;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\FingerPaymentEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Data.DBS.csdl|res://*/Data.DBS.ssdl|res://*/Data.DBS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=jabjaidatabase.database.windows.net;initial catalog=JabJai;user id=sajabjai;password=passjabjai@2016;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ApplicationServices" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\aspnetdb.mdf;Integrated Security=True;User Instance=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ApplicationServices_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="JabJaiEntities00001" Order="7" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=jabjaidatabase.database.windows.net;Initial Catalog=JabJai00001;Persist Security Info=True;User ID=sajabjai;Password=passjabjai@2016;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\JabJaiEntities00001_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Data.DBS.csdl|res://*/Data.DBS.ssdl|res://*/Data.DBS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=jabjaidatabase.database.windows.net;initial catalog=JabJai00001;persist security info=True;user id=sajabjai;password=passjabjai@2016;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="JabJaiEntities00002" Order="8" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=jabjaidatabase.database.windows.net;Initial Catalog=JabJai00002;Persist Security Info=True;User ID=sajabjai;Password=passjabjai@2016;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\JabJaiEntities00002_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Data.DBS.csdl|res://*/Data.DBS.ssdl|res://*/Data.DBS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=jabjaidatabase.database.windows.net;initial catalog=JabJai00002;persist security info=True;user id=sajabjai;password=passjabjai@2016;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="JabJaiEntities00003" Order="9" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=jabjaidatabase.database.windows.net;Initial Catalog=JabjaiDemo0001;Persist Security Info=True;User ID=sajabjai;Password=passjabjai@2016;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\JabJaiEntities00003_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Data.DBS.csdl|res://*/Data.DBS.ssdl|res://*/Data.DBS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=jabjaidatabase.database.windows.net;initial catalog=JabjaiDemo0001;persist security info=True;user id=sajabjai;password=passjabjai@2016;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SQLForJavascript" Order="10" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=INTEL-PC;Initial Catalog=JabJai;User ID=sa;Password=1234;Provider=SQLOLEDB" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SQLForJavascript_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=INTEL-PC;Initial Catalog=JabJai;User ID=sa;Password=1234;Provider=SQLOLEDB" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="sbactestEntities" Order="11" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=jabjaidatabase.database.windows.net;Initial Catalog=sbactest;Persist Security Info=True;User ID=sajabjai;Password=passjabjai@2016;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\sbactestEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Data.DBS.csdl|res://*/Data.DBS.ssdl|res://*/Data.DBS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=jabjaidatabase.database.windows.net;initial catalog=sbactest;persist security info=True;user id=sajabjai;password=passjabjai@2016;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="JabJaiEntities00004" Order="12" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=jabjaidatabase.database.windows.net;Initial Catalog=JabJai00003;Persist Security Info=True;User ID=sajabjai;Password=passjabjai@2016;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\JabJaiEntities00004_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Data.DBS.csdl|res://*/Data.DBS.ssdl|res://*/Data.DBS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=jabjaidatabase.database.windows.net;initial catalog=JabJai00003;persist security info=True;user id=sajabjai;password=passjabjai@2016;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="JabJaiEntities00005" Order="13" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=jabjaidatabase.database.windows.net;Initial Catalog=JabJai00004;Persist Security Info=True;User ID=sajabjai;Password=passjabjai@2016;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\JabJaiEntities00005_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Data.DBS.csdl|res://*/Data.DBS.ssdl|res://*/Data.DBS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=jabjaidatabase.database.windows.net;initial catalog=JabJai00004;persist security info=True;user id=sajabjai;password=passjabjai@2016;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="JabJaiEntities00006" Order="14" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=jabjaidatabase.database.windows.net;Initial Catalog=JabJai00006;Persist Security Info=True;User ID=sajabjai;Password=passjabjai@2016;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\JabJaiEntities00006_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Data.DBS.csdl|res://*/Data.DBS.ssdl|res://*/Data.DBS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=jabjaidatabase.database.windows.net;initial catalog=JabJai00006;persist security info=True;user id=sajabjai;password=passjabjai@2016;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ApplicationServices-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)FingerPaymentConnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)FingerPaymentEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)FingerPaymentEntities2-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)JabJaiEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)JabJaiEntities00001-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)JabJaiEntities00002-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)JabJaiEntities00003-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)JabJaiEntities00006-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)JabJaiMasterEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)sbactestEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SQLForJavascript-Web.config Connection String" />
  </ItemGroup>
</Project>