<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
    <add name="FingerPaymentConnectionString" connectionString="metadata=res://*/Data.Master.MasterDB.csdl|res://*/Data.Master.MasterDB.ssdl|res://*/Data.Master.MasterDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=jabjaidatabase.database.windows.net;initial catalog=JabJaiMaster;persist security info=True;user id=sajabjai;password=passJabJai@2016;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SQLForJavascript" connectionString="Data Source=INTEL-PC;Initial Catalog=JabJai;User ID=sa;Password=1234;Provider=SQLOLEDB" />
    <!--<add name="FingerPaymentEntities" connectionString="metadata=res://*/Data.DBS.csdl|res://*/Data.DBS.ssdl|res://*/Data.DBS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=INTEL-PC;initial catalog=JabJai;persist security info=True;user id=sa;password=1234;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="FingerPaymentEntities" connectionString="metadata=res://*/Data.DBS.csdl|res://*/Data.DBS.ssdl|res://*/Data.DBS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=jabjaidatabase.database.windows.net;initial catalog=JabJai;user id=sajabjai;password=passjabjai@2016;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="FingerPaymentEntities2" connectionString="metadata=res://*/Data.DBS.csdl|res://*/Data.DBS.ssdl|res://*/Data.DBS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=INTEL-PC;initial catalog=JabJai2;persist security info=True;user id=sa;password=1234;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="JabJaiEntities" connectionString="metadata=res://*/Data.DBS.csdl|res://*/Data.DBS.ssdl|res://*/Data.DBS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=jabjaidatabase.database.windows.net;initial catalog=JabJai;persist security info=True;user id=sajabjai;password=passjabjai@2016;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="JabJaiMasterEntities" connectionString="metadata=res://*/Data.Master.MasterDB.csdl|res://*/Data.Master.MasterDB.ssdl|res://*/Data.Master.MasterDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=jabjaidatabase.database.windows.net;initial catalog=JabJaiMaster;persist security info=True;user id=sajabjai;password=passjabjai@2016;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="JabJaiEntities00001" connectionString="metadata=res://*/Data.DBS.csdl|res://*/Data.DBS.ssdl|res://*/Data.DBS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=jabjaidatabase.database.windows.net;initial catalog=JabJai00001;persist security info=True;user id=sajabjai;password=passjabjai@2016;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="JabJaiEntities00002" connectionString="metadata=res://*/Data.DBS.csdl|res://*/Data.DBS.ssdl|res://*/Data.DBS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=jabjaidatabase.database.windows.net;initial catalog=JabJai00002;persist security info=True;user id=sajabjai;password=passjabjai@2016;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="sbactestEntities" connectionString="metadata=res://*/Data.DBS.csdl|res://*/Data.DBS.ssdl|res://*/Data.DBS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=jabjaidatabase.database.windows.net;initial catalog=sbactest;persist security info=True;user id=sajabjai;password=passjabjai@2016;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="JabJaiEntities00003" connectionString="metadata=res://*/Data.DBS.csdl|res://*/Data.DBS.ssdl|res://*/Data.DBS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=jabjaidatabase.database.windows.net;initial catalog=JabjaiDemo0001;persist security info=True;user id=sajabjai;password=passjabjai@2016;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="JabJaiEntities00004" connectionString="metadata=res://*/Data.DBS.csdl|res://*/Data.DBS.ssdl|res://*/Data.DBS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=jabjaidatabase.database.windows.net;initial catalog=JabJai00003;persist security info=True;user id=sajabjai;password=passjabjai@2016;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="JabJaiEntities00005" connectionString="metadata=res://*/Data.DBS.csdl|res://*/Data.DBS.ssdl|res://*/Data.DBS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=jabjaidatabase.database.windows.net;initial catalog=JabJai00004;persist security info=True;user id=sajabjai;password=passjabjai@2016;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="JabJaiEntities00006" connectionString="metadata=res://*/Data.DBS.csdl|res://*/Data.DBS.ssdl|res://*/Data.DBS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=jabjaidatabase.database.windows.net;initial catalog=JabJai00006;persist security info=True;user id=sajabjai;password=passjabjai@2016;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off" />
    <siteMap defaultProvider="1SiteMap" enabled="true">
      <providers>
        <add name="1SiteMap" type="System.Web.XmlSiteMapProvider" siteMapFile="Web.sitemap" />
        <add name="2SiteMap" type="System.Web.XmlSiteMapProvider" siteMapFile="WebSite2.sitemap" />
      </providers>
    </siteMap>
    <httpCookies httpOnlyCookies="true" />
    <httpRuntime requestValidationMode="2.0" maxUrlLength="10999" maxQueryStringLength="2097151" executionTimeout="6000" />
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <!--<add assembly="log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />-->
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="30000" />
    </authentication>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <httpHandlers>
      <add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
      <add verb="POST" path="HighchartsExport.axd" type="Tek4.Highcharts.Exporting.HttpHandler, Tek4.Highcharts.Exporting" />
    </httpHandlers>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
    <globalization culture="en-US" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp from="contact@jabjai.school">
        <network host="mail.jabjai.school" port="25" defaultCredentials="false" userName="contact@jabjai.school" password="jabjaisupport" />
      </smtp>
    </mailSettings>
  </system.net>
  <location allowOverride="true">
    <appSettings>
      <!--<add key="ConnectionString" value="Server=INTEL-PC;database=JabJai;uid=samasterjabjai;pwd=Bkhk19*2;" />-->
      <add key="ConnectionString" value="Server=INTEL-PC;database=JabJai;uid=sa;pwd=1234;" />
      <add key="ConnectionSQL" value="Server=INTEL-PC;database=JabJai;uid=sa;pwd=1234;" />
      <add key="e-Mail" value="contact@jabjai.school" />
      <!--<add key="smtpmail" value="mail.truemail.co.th" />-->
      <add key="smtpmail" value="mail.jabjai.school" />
      <add key="SmtpServerUserName" value="contact@jabjai.school" />
      <add key="SmtpServerPassword" value="jabjaisupport" />
      <add key="SmtpServer" value="1" />
      <add key="smac" value="C4:6A:B7:80:47:02" />
      <!--<add key="ConnectionSQLMaster" value="Server=INTEL-PC;database=JabJaiMaster;uid=sa;pwd=1234;" />-->
      <add key="ConnectionSQLMaster" value="Server=jabjaidatabase.database.windows.net;database=JabJaiMaster;uid=sajabjai;pwd=passjabjai@2016;" />
      <add key="smsuser" value="jabjaisbac" />
      <add key="smspassword" value="456789" />
      <add key="smssender" value="SBAC" />
      <add key="CrystalImageCleaner-AutoStart" value="true" />
      <add key="CrystalImageCleaner-Sleep" value="60000" />
      <add key="CrystalImageCleaner-Age" value="120000" />
    </appSettings>
  </location>
  <system.webServer>
    <httpErrors errorMode="Detailed" />
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <handlers>
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode" />
      <add name="HighchartsExport" verb="POST" path="HighchartsExport.axd" type="Tek4.Highcharts.Exporting.HttpHandler, Tek4.Highcharts.Exporting" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <defaultDocument>
      <files>
        <clear />
        <add value="default.aspx" />
        <add value="Default.htm" />
        <add value="Default.asp" />
        <add value="index.htm" />
        <add value="index.html" />
        <add value="iisstart.htm" />
      </files>
    </defaultDocument>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="32768" />
      </requestFiltering>
    </security>
    <!--BEGIN rule TAG FOR HTTPS REDIRECT-->
    <!--<rewrite>
      <rules>


        <rule name="Force HTTPS" enabled="true">
          <match url="(.*)" ignoreCase="false" />
          <conditions>
            <add input="{HTTPS}" pattern="off" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" appendQueryString="true" redirectType="Permanent" />
        </rule>


      </rules>
    </rewrite>-->
    <!--END rule TAG FOR HTTPS REDIRECT-->
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AI.Agent.Intercept" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.0" newVersion="2.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.diagnostics>
    <trace autoflush="true" indentsize="0">
      <listeners>
        <add name="myAppInsightsListener" type="Microsoft.ApplicationInsights.TraceListener.ApplicationInsightsTraceListener, Microsoft.ApplicationInsights.TraceListener" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>